﻿<div class="row-fluid" style="display: none;" data-bind="visible: !accountsModel.accountForEditing()">
    
    <a href="#" data-bind="click: accountsModel.add" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add Account</a>

    <table class="table table-striped">
        <thead data-bind="visible: accountsModel.accounts().length > 0">
            <th>Account ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </thead>
        <tbody data-bind="foreach: accountsModel.accounts">
            <tr>
                <td data-bind="text: accountId"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: phone"></td>
                <td data-bind="text: email"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn" data-bind="click: $parent.accountsModel.edit" href="#"><i class="icon-pencil"></i></a>
                        <a class="btn" data-bind="click: $parent.accountsModel.delete" href="#"><i class="icon-remove-circle"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div data-bind="visible: accountsModel.accounts().length == 0" class="alert alert-info">
        No accounts yet.
    </div>
</div>

<!-- ko if: accountsModel.accountForEditing -->
<div class="row" data-bind="visible: accountsModel.accountForEditing" style="display: none;" >
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" class='required' id="inputName" data-bind="value: accountsModel.accountForEditing().name" placeholder="Name">
            </div>
        </div>
                
        <div class="control-group">
            <label class="control-label" for="inputPhone">Phone</label>
            <div class="controls">
                <input type="text" class='required number' id="inputPhone" data-bind="value: accountsModel.accountForEditing().phone" placeholder="Phone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" data-bind="value: accountsModel.accountForEditing().email" placeholder="Email">
            </div>
        </div>
                
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-bind="click: accountsModel.acceptChangedAccount">Save changes</button>
            <a href="#" data-bind="click: accountsModel.reset">Cancel</a>
        </div>
    </form>
</div>
<!-- /ko -->



@section scripts
    {
    <script type="text/javascript">
        window.accountManagerApp = window.accountManagerApp || {};

        require(['accountManagerViewModel'], function (accountManagerViewModel) {
            window.accountManagerApp.vm = new accountManagerViewModel();
            ko.applyBindings(window.accountManagerApp.vm);
            
            $("form").validate({ submitHandler: window.accountManagerApp.vm.accountsModel.acceptChangedAccount });
        });

    </script>
    }
   
